.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .left {
    flex: 1;
  }
  
  .right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .card1{
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .upgrade-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffd700; /* Change to yellow */
    color: #000; /* Change to black */
    border: none;
    border-radius: 20px; /* Make it round */
    cursor: pointer;
    margin-right: 10px;
}
.upgrade-btn:hover {
    background-color: #ffcc00; /* Darker shade of yellow on hover */
}
.settings-field {
 font-weight: bold;
 font-size: medium;
 
}
.left {
  flex: 1;
}

.right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.button {
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

#uploadBtn {
  background-color: white;
  border: none;
  color: black;
  border-radius: 25px;
}


#createBtn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #e9e8e2; /* Change to yellow */
  color: #000; /* Change to black */
  border: none;
  border-radius: 20px; /* Make it round */
  cursor: pointer;
  margin-right: 10px;
}
.upgrade-btn:hover {
  background-color: #ffcc00; /* Darker shade of yellow on hover */
}

.title
{
  font-weight: bold;
  font-size: 100%;
}
